.com{
    margin: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.row{
    border-top: 2px solid black;
}
.course-icon{
    height: 100%;
}

.closebtn:hover {
    color: #f1f1f1;
  }
  
.closebtn {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-size: 36px; 
    cursor: pointer;
  }

  .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color:rgb(200, 200, 67);
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(200, 200, 67);
  }