<div class="text-center com">
    <div class="card h-100">
            <img class="course-icon" [src]="course.image">
    <div class="card-body">
        <h2 class="card-title">
            {{ course.name }}
        </h2>
       <table class="table table-striped">
            <tbody>
                <tr>
                    <td>ECTS:</td>
                    <td>{{course.ects}}</td>
                </tr>
                <tr>
                    <td>Semester:</td>
                    <td>{{course.semester}}</td>
                </tr>
                <tr>
                    <td>Liczba Komentarzy:</td>
                    <td>{{courseComments()}}</td>
                </tr>
            </tbody>
        </table>
        {{courseRating()}}
        <br><br>
        <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span> &#9733; </span>
        </ng-template>
        <ngb-rating [rate]="courseRating()" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        </div>
        <div class="card-footer">
        <button type="button" class="btn btn-dark" [routerLink]="['/courses', course.name]" [queryParams]="{ id: course.id}">Więcej!</button>
        <a *ngIf="checkIfAdmin()" id="closebtn" class="closebtn" (click)="deleteCourse()">&times;</a>
        </div>
    </div>
</div>

