<form class="form" role="form">
    <div class="text-center">
            <div class="form-group">
                    <div class="form-group">
                       <input placeholder="Szukana nazwa kursu" name="name" [(ngModel)]="name" type="text" class="validate">
                    </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <ng5-slider [(value)]="minects" [(highValue)]="maxects" [options]="ectsOptions"></ng5-slider>
                </div>
            </div>
            <div class="form-group">
                    <div class="form-group" >
                        <ng5-slider [(value)]="semester"  [options]="semesterOptions"></ng5-slider>
                    </div>
            </div>
            <div class="form-group">
                    <div class="form-group">
                        <ng5-slider [(value)]="minrate" [(highValue)]="maxrate" [options]="rateOptions"></ng5-slider>
                    </div>
            </div>
     
        <div class="submit">
            <hr>
            <a  class="btn btn-secondary text-white" (click)="filter()">Filtruj</a>
            <a  class="btn btn-link" (click)="clearMessages()">Wyczyść filtry</a>
        </div>   
    </div>
</form>

