.course-icon{
    width: 100%;
    object-fit: contain;
    padding: 10px;
}

.teacher-information{
    padding: 20px;
}

.card-body{
    width: 100%;
}

.table{
    table-layout: fixed;
}

.btn{
    cursor: pointer;
}

.noPlace{
    color: red;
}


.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color:rgb(200, 200, 67);
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(200, 200, 67);
  }