<div class="jumbotron text-center">
    <h1>WIKI kierunku Informatyka</h1>
    <p>Zobacz jakie kursy dla Ciebie przygotowaliśmy!</p>
  </div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">
            <img src="assets/images/logo.svg" style="height: 50px;"/>
    </a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['']">WIKI </a>
        </li>
        <li *ngIf="checkIfAdmin()" class="nav-item dropdown order-1">
          <button type="button" id="dropdownMenuAddCourse" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">{{param1}} <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu mt-2 dropdown-add">
            <li class="px-3 py-2">
              <app-add-course></app-add-course>
            </li>
          </ul>
        </li>
        <li *ngIf="param1 === 'Dodaj Kurs'" class="nav-item dropdown order-1">
            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Filtruj <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu mt-2 dropdown-add">
              <li class="px-3 py-2">
                <app-filter-course></app-filter-course>
              </li>
            </ul>
        </li>
      </ul>
      <ul *ngIf="loggedUser === null" class="nav navbar-nav flex-row justify-content-between ml-auto">
        <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
            <li class="dropdown order-1">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right mt-2">
                  <li class="px-3 py-2">
                    <app-login *ngIf="displayLogin" (displayLogin) = "changeDisplay($event)"></app-login>
                    <app-register *ngIf="displayLogin === false" (displayLogin) = "changeDisplay($event)"></app-register>
                  </li>
                </ul>
            </li>
        </ul>
        <ul *ngIf="loggedUser != null" class="nav navbar-nav flex-row justify-content-between ml-auto">
          <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
              <li class="dropdown order-1">
                  <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">{{loggedUser.name}} <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right mt-2">
                    <li class="px-3 py-2">
                      <button class="btn btn-secondary btn-block" (click)="logOut();  $event.stopPropagation()">Log Out</button>
                    </li>
                  </ul>
              </li>
          </ul>
    </div>
  </nav>